<div class="footer">
  <nav class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="mx-auto">
      <div class="navbar-brand">
        <p>Cashback</p>
      </div>
    </div>
  </nav>
</div>
