<div class="font-small indigo pt-4 mt-4">
  <nav class="navbar navbar-dark bg-dark">
    <div class="row mx-auto flex-row">
      <%= image_tag('logo.png', :class => 'mb-4', :width => '62', :height => '62') %>
      <div class="py-3 text-light">
        Code is life
      </div>
    </div>
  </nav>
</div>
