<div class="font-small indigo pt-4 mt-4">
  <nav class="navbar navbar-dark bg-dark">
    <div class="mx-auto">
      <div class="py-3 text-light">
        <p>Code is life</p>
      </div>
    </div>
  </nav>
</div>
