<div class="font-small indigo pt-4 mt-4">
  <nav class="navbar navbar-dark bg-dark">
    <div class="mx-auto">
      <div class="navbar-brand py-3">
        <p>Cashback</p>
      </div>
    </div>
  </nav>
</div>
