// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge-premium {
  top: -10px;
  right: -13px;
  width: 120px;
  height: 22px;
}

.border-mouse-over {
  border-color: #2ba744;
  border-width: medium;
}

.btn-hover-green{}

